:root {
    --cor-principal: #6E859F;
    --cor-secundaria: #284260;
    --cor-destaque: #C92BFC;
    }
    body {
    font-family:  'Chakra Petch', sans-serif;
    color: var(--cor-principal);
    margin: 2rem;
    }
    h1, h2, h3 {
    color: var(--cor-secundaria);
    font-weight: 700;
    }
    a {
    color: var(--cor-destaque);
    text-decoration: none;
    }
    a:hover {
    color: var(--cor-principal);
    }
























